html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Sans-Serif;
}

.main_container {
  width: 65%;
  margin: 100px auto;
}

.navbar {
  position: fixed;
  text-align: center;
  top: 0;
  box-shadow: -9px -4px 11px 0;
  padding: 5px 10px;
  background: white;
  width: 100%;
  z-index: 2;
}

.left-nav-buttons {
  position: relative;
  top: 7px;
  display: inline-block;
  float: left;
  margin-left: 7%;
  font-weight: 1000;
  font-size: 14px;
}

.right-nav-buttons {
  float: right;
  margin-right: 8%;
}

.nav-btn {
  border: 1px solid rgba(0,0,0,0.5);
  color: white;
  padding: 9px 12px;
  border-radius: 4px;
  background:#6288a5;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}

.nav-link {
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.7s;
}

.nav-link:hover {
  background-color: rgba(0,0,0,0.03);
}

.navbar .title {
  display: inline-block;
  font-weight: bolder;
  font-size: 24px;
}

header {
  text-align: center;
}

.article-title {
  text-align: left;
  margin-left: 20%;
}

.article-body {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left right";
  min-width: 800px;
}

.article-body p {
  grid-area: left;
  margin-left: 35%;
  font-size: 19px;
  line-height: 26px;

}

.article-img {
  width: 100%;
}

figure {
  border: 0;
  margin: 0 0 80px 0;
}

figcaption {
  text-align: left;
}

.side-articles {
  position: relative;
  grid-area: right;
  margin-left: 40%;
  border-left: 1px solid rgba(0,0,0,0.2);
  text-align: left;
  height: 460px;
  padding-left: 10px;
}

.aside-title {
  font-weight: bold;
  font-size: 13px;
}

p.aside-description  {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
}

aside img {
  width: 150px;
  margin: 10px 0 0 0;
}

.theory-inflation {
  background-image: url("../images/theory.png");
  background-size: 98% 540px;
  background-position: 0 70px;
  background-repeat: no-repeat;
  display: grid;
  grid-template: 
            "a a a a" 50px
            "b c d e" 260px
            "f g h i" 260px / 1fr 1fr 1fr 1fr;
  height: 620px;
  min-width: 600px;
  grid-column-gap: 5px;
  width: 80%;
  margin: 0 auto;
}

.theory-inflation-a {
  grid-area: a;
}

.theory-inflation-b {
  grid-area: b;
}

.theory-inflation-c {
  grid-area: c;
}

.theory-inflation-d {
  grid-area: d;
}

.theory-inflation-e {
  grid-area: e;
}

.theory-inflation-f {
  grid-area: f;
}

.theory-inflation-g {
  grid-area: g;
}

.theory-inflation-h {
  grid-area: h;
}

.theory-inflation-i {
  grid-area: i;
}

.grid-item {
  padding-top: 130px;
  padding-bottom: 0;
  display: inline-block;
  font-size: 12px;
}

.yt-video {
  display: inline-block;
  margin-left: 17.5%; 
}

.article-inner-img {
  grid-area: left;
  display: inline-block;
  min-width: 450px;
  max-width: 60%;
  width: 100%;
  text-align: center;
  margin-left: 18%;
}

.article-inner-img img {
  max-width: 100%;
  margin: 0;
}

footer {
  border-top: 3px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 0 10px 0;
  min-width: 800px;
  display: grid;
  grid-template: 
            "z z z z z z" 
            "a b c d e f";
  width: 65%;
  margin: 0 auto 60px auto;
  text-align: center;
  font-size: 18px;
  background-color: white;
}

.footer-title {
  margin-bottom: 20px;
  text-align: left;
  grid-area: z;
}

.footer-column-a {
  grid-area: a;
}

.footer-column-b {
  grid-area: b;
}

.footer-column-c {
  grid-area: c;
}

.footer-column-d {
  grid-area: d;
}

.footer-column-e {
  grid-area: e;
}

.footer-column-f {
  padding-left: 10px; 
  border-left: 1px solid rgba(0,0,0,0.1);
  grid-area: f;
}

.footer-item {
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}

.more-articles-container {
  width: 100%;
  min-width: 1100px;
}

.more-articles {
  display: grid;
  grid-template: 
            "a b c h"
            "d e f h"
            "g i j h";
            
}

.more-articles img {
  height: 160px;
  width: 260px;
}

.more-articles-a {
  grid-area: a;
}

.more-articles-b {
  grid-area: b;
}

.more-articles-c {
  grid-area: c;
}

.more-articles-d {
  grid-area: d;
}

.more-articles-e {
  grid-area: e;
}

.more-articles-f {
  grid-area: f;
}

.more-articles-side {
  grid-area: h;
}

.more-articles-item {
  font-weight: bolder;
  padding: 5px;
}

.more-articles-side-item {
  padding: 15px 5px;
  border-top: 1px solid rgba(0,0,0,0.1);
}